/* Border colors added for visualizing element boundaries */

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* border: solid 4px green; */
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #1F2937;
    padding: 0 160px 160px 160px; 
    /* border: solid red; */
}

.hero .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid orange; */
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;   
    padding: 0;
}

.hero .container {
    display: flex; 
    align-items: center;
    margin-top: 120px;
    gap: 32px;
    border: solid 4px green;
}

.hero .description {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    padding: 32px 32px 32px 0; 
    /* border: solid cyan; */
}

.hero .description h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero .description p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .description button {
    width: 100px;
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px;
}

.hero .image {
    display: flex; 
    flex: 0 1 200px;
    /* border: solid 6px gray; */
}

.hero .image img {
    width: 590px;
    height: 350px;
}

.features {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.features .boxes-row {
    display: flex;
    text-align: center;
    gap: 32px;
}

.features .boxes-row img {
    width: 150px;
    height: 150px;
}

.cta {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 150px;
    /* border: solid green; */
}

.cta-content {
    display: flex; 
    flex: 1 1 0;
    justify-content: space-evenly;
    align-items: center;
    padding: 56px;
    color: #F9FAF8;
    background: #3882F6;
    border-radius: 8px;
    /* border: solid blue; */
}

.cta-content h2,
.cta-content p {
    margin: 0;
}

.cta-content .register {
    display: flex;
    padding: 7.4px;
    /* border: solid orangered; */
}

.cta-content button {
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    color: #F9FAF8;
    background: #3882F6;
    border: solid 2px white;
}
